# Terraform files
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/*.tfvars
!**/*.tfvars.example
**/.terraform.lock.hcl

# IDE files
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Backup files
*.backup
*.bak

# Logs
*.log

# Temporary files
*.tmp
.temp/